body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* this is the style for the navigation bar */

nav {
  background-color: black;
  box-sizing: border-box;
  height: 60px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* the following is the style for the left side of the navgation bar */

#logoimg {
  width: 60px;
  padding: 20px;
}
.left-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 50px;
  gap: 10px;
}
.nav-link {
  color: white;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9999px;
  font-size: 15px;
  display: inline-block;
}
.nav-link a:visited {
  color: white;
  text-decoration: none;
}
.nav-link a:hover {
  background-color: rgba(202, 199, 199, 0.247);
  cursor: pointer;
  transition: 0.3s ease;
}

/* the following is the style for the right side of the navgation bar */
.lang-link {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 6px;
  border-radius: 9999px;
}
.lang-link:hover {
  background-color: rgba(202, 199, 199, 0.247);
  cursor: pointer;
  transition: 0.3s ease;
}
.right-bar {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 50px;
  gap: 12px;
}
#signup {
  color: black;
  background-color: white;
  transition: 0.3s ease;
}
#signup:hover {
  background-color: rgba(248, 245, 241, 0.842);
}
/* details1{
  color: white;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9999px;
  font-size: 15px;
  display: inline-block;
} */

details:hover {
  background-color: rgba(202, 199, 199, 0.247);
  cursor: pointer;
  transition: 0.3s ease;
}

/* this is the first segement of the page . go anywhere with uber  */

.go-anywhere {
  /* border: 2px solid black; */
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.text-content {
  /* border: 2px solid black; */
  display: grid;
  gap: 20px;
  padding: 5px 10px;
}
.image-content {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading1 {
  font-size: 50px;
  margin-bottom: 0px;
}

#pickup {
  width: 75%;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  border-radius: 7px;
  background-color: rgba(226, 226, 226, 0.548);
  font-size: large;
}

#dropoff {
  width: 75%;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: rgba(226, 226, 226, 0.548);
  font-size: large;
}

#date {
  width: 37.5%;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: rgba(226, 226, 226, 0.548);
  font-size: large;
}

#time {
  width: 37.5%;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: rgba(226, 226, 226, 0.548);
  font-size: large;
}

#date:hover {
  cursor: pointer;
}
#time:hover {
  cursor: pointer;
}

#prices {
  background-color: black;
  color: white;
  border-radius: 7px;
  font-size: large;
  text-decoration: none;
  padding: 9px 15px;
}

#recent {
  color: black;
  text-decoration: underline rgba(172, 171, 171, 0.671);
  font-size: large;
  margin-left: 15px;
}

#recent:hover {
  text-decoration: underline;
}
#recent:visited {
  color: black;
}

/* this is the second segment of the page . suggestions */

.suggestion {
  /* border: 2px solid black; */
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
}

#heading2-1 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 600;
}

.container {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.details {
  /* border: 1px solid black; */
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: bold;
  grid-area: foot;
  margin-right: 0%;
}
.details:visited {
  color: black;
}
.details:hover {
  background-color: rgba(202, 199, 199, 0.658);
  cursor: pointer;
  transition: 0.3s ease;
}

.box {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(252, 235, 235);
  border-radius: 7px;
  padding: 10px;
  box-sizing: border-box;
  height: 150px;
}
.p-1 {
  font-size: 0.8rem;
  grid-area: para;
}

.h4 {
  grid-area: head;
  margin-top: 0;
}
.pic {
  grid-area: pic;
  align-self: end;
  justify-self: end;
}

/* this is the third section of the page  */

.acc-details {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* border: 2px solid black; */
  column-gap: 125px;
}

.acc-container-1 {
  /* border: 2px solid black; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  align-items: space-evenly;
  margin-top: 7%;
}

.acc-container-2 {
  /* border: 2px solid black; */
  display: block;
  padding: 0;
  margin: 0;
}

#heading2-2 {
  font-size: 30px;
  margin: 0px;
  font-weight: bold;
}

.p-2 {
  font-size: 15px;
}

/* this is the style for the fourth section of the page  */

.pfl {
  /* border: 2px solid black; */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 40px;
}
.pfl-container-1 {
  /* border: 2px solid black; */
  box-sizing: border-box;
  background-color: #a8d5de;
  border-radius: 25px;
  margin-left: 8vw;
  background-image: url(images/image-9.webp);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 400px;
  width: 55vw;
}
.pfl-container-2 {
  /* border: 2px solid black; */
  box-sizing: border-box;
}

.heading-4 {
  font-size: 30px;
  margin: 0px;
  font-weight: 500px;
  margin-top: 100px;
  margin-left: 8vw;
  margin-bottom: 25px;
}

#pfl-c1 {
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#date2 {
  width: 25.5%;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: rgb(225, 225, 225);
  font-size: large;
}
#time2 {
  width: 25.5%;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  font-size: large;
}

.next-cont {
  border-radius: 7px;

  width: 53%;
}
.next {
  background-color: black;
  color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100;
  text-align: center;
  height: 30px;
  text-decoration: none;
  font-size: 20px;
}

#see-terms:visited {
  color: black;
}

.pfl-container-2 {
  height: 350px;
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr  ; */
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.benefits-list li {
  position: relative;
  padding-left: 30px;
}
.benefits-list li::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 6px;
  background-size: contain;
  background-repeat: no-repeat;
}
.benefits-list li:nth-child(1)::before {
  background-image: url(images/calendar-filled.svg);
}
.benefits-list li:nth-child(2)::before {
  background-image: url(images/anytime.svg);
}
.benefits-list li:nth-child(3)::before {
  background-image: url(images/credit_card-filled.svg);
}

/* this is the style for the fifth section of the page  */

.section-5 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  align-items: center;
}

.sec-p {
  margin-top: 35px;
  margin-bottom: 45px;
}

/* this is the sixth section of the page  */

.section-6 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  align-items: center;
}

/* this is the seventh section of the page  */

.section-7 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  align-items: center;
}

.sec-7-c1 {
  margin-right: 2vw;
}

/* this is the eight section of the page  */

.down-heading {
  margin-top: 150px;
  margin-left: 7vw;
  font-size: xx-large;
  margin-bottom: 50px;
}
.download-links {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
}
.down-uber {
  /* border: 2px solid black; */
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.down-driver {
  /* border: 2px solid black; */
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-right: 10vw;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.arrow {
  transition: transform 0.3s ease;
  margin-left: 15px;
}
.arrow:hover {
  transform: translateX(15px);
}

/* this is the footer section of the page  */

footer {
  background-color: black;
  color: white;
  min-height: 400px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;

}
.f-container{
    display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-left: 8vw;
  margin-top: 20vh;
}
.f-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.f-link-2{
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0;
  display: inline-block;
  padding: 0;
}
.f-list{
  list-style: none;
   
  padding: 0;
  font-size: 12px;
  margin-bottom: 15px;
  
}
.fd3{
  display: flex;
 column-gap: 150px;
 /* padding: 50px;
 margin-left: 100px; */
 align-items: flex-start;
 
}

.fd3 > div{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.f-h3{
  font-weight: 400;
  font-size: medium;
  margin-bottom: 20px;
} 

.company{
  text-align: left;
}
ul {
  padding-left: 0;  
}
.f-link-2:hover{
  color: grey;
  transition: all ease 0.1s;
}

.fd4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.fd4-r{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 100px;
  column-gap: 20px;
  padding: 10px 6px;
}
.fd4-l{
   display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 50px;
}
.fd4-l-icon{
  border-radius: 5px;
  width: 40px;
  height: 35px;
  padding-left: 13px;
  padding-top: 10px;
  transition: all ease 0.3s;
 
}
.fd4-l-icon:hover{
background-color: rgba(128, 128, 128, 0.534);
 
}
.fd4-r-link{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  padding: 6px 12px;
}
.fd4-r-link:hover{
  background-color: rgba(128, 128, 128, 0.164);
}